@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-BoldItalic.eot');
    src: url('SFUIText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-BoldItalic.woff') format('woff'),
        url('SFUIText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Bold.eot');
    src: url('SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Bold.woff') format('woff'),
        url('SFUIText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Heavy.eot');
    src: url('SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Heavy.woff') format('woff'),
        url('SFUIText-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-LightItalic.eot');
    src: url('SFUIText-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-LightItalic.woff') format('woff'),
        url('SFUIText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Light.eot');
    src: url('SFUIText-Light.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Light.woff') format('woff'),
        url('SFUIText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Medium.eot');
    src: url('SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Medium.woff') format('woff'),
        url('SFUIText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-HeavyItalic.eot');
    src: url('SFUIText-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-HeavyItalic.woff') format('woff'),
        url('SFUIText-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-MediumItalic.eot');
    src: url('SFUIText-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-MediumItalic.woff') format('woff'),
        url('SFUIText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Semibold.eot');
    src: url('SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Semibold.woff') format('woff'),
        url('SFUIText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-SemiboldItalic.eot');
    src: url('SFUIText-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-SemiboldItalic.woff') format('woff'),
        url('SFUIText-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Regular.eot');
    src: url('SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Regular.woff') format('woff'),
        url('SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-RegularItalic.eot');
    src: url('SFUIText-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-RegularItalic.woff') format('woff'),
        url('SFUIText-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

